<div class="footer__item-padding">
  {%- if block.settings.show_footer_title -%}
    <h2 class="h4 footer__title small--hide">{{ block.settings.title }}</h2>
    <button type="button" class="h4 footer__title collapsible-trigger collapsible-trigger-btn medium-up--hide" aria-controls="Footer-{{ block.id }}">
      {{ block.settings.title }}
      {%- render 'collapsible-icons' -%}
    </button>
  {%- endif -%}
  <div
    {% if block.settings.show_footer_title %}
      id="Footer-{{ block.id }}" class="collapsible-content collapsible-content--small"
    {% endif %}>
    <div class="collapsible-content__inner">
      <div class="footer__collapsible{% unless block.settings.show_footer_title %} footer_collapsible--disabled{% endunless %}">
        {%- if block.settings.text -%}
          {{ block.settings.text }}
        {%- endif -%}

        {%- form 'customer', id: 'newsletter-footer' -%}
          {%- if form.posted_successfully? -%}
            <div class="note note--success">{{ 'general.newsletter_form.newsletter_confirmation' | t }}</div>
          {%- endif -%}
          {%- if form.context == 'footer' -%}
            {%- if form.errors -%}
              {{ form.errors | default_errors }}
            {%- endif -%}
          {%- endif -%}

          <label for="Email-{{ block.id }}" class="hidden-label">{{ 'general.newsletter_form.newsletter_email' | t }}</label>
          <label for="newsletter-submit-{{ block.id }}" class="hidden-label">{{ 'general.newsletter_form.submit' | t }}</label>
          <input type="hidden" name="contact[tags]" value="prospect,newsletter">
          <input type="hidden" name="contact[context]" value="footer">
          <div class="footer__newsletter">
            <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="contact[email]" id="Email-{{ block.id }}" class="footer__newsletter-input" autocorrect="off" autocapitalize="off" required>
            <button type="submit" id="newsletter-submit-{{ block.id }}" class="footer__newsletter-btn" name="commit">
              <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-email" viewBox="0 0 64 64"><title>icon-email</title><path d="M63 52H1V12h62ZM1 12l25.68 24h9.72L63 12M21.82 31.68 1.56 51.16m60.78.78L41.27 31.68"/></svg>
              <span class="footer__newsletter-btn-label">
                {{ 'general.newsletter_form.submit' | t }}
              </span>
            </button>
          </div>
        {%- endform -%}

        <div class="article-social">
          <a class="social-button" target="_blank" rel="noopener" href="https://instagram.com/getkolorful" title="Kolorful on Instagram">
            <img src="https://cdn.shopify.com/s/files/1/0587/6396/8710/files/instagram-default.webp?v=1747153540" alt="Instagram" class="social-icon">
            <img src="https://cdn.shopify.com/s/files/1/0587/6396/8710/files/instagram-hover.webp?v=1747153540" alt="Instagram" class="social-icon on-hover">
          </a>
          
          <a class="social-button" target="_blank" rel="noopener" href="https://www.facebook.com/getkolorful" title="Kolorful on Facebook">
            <img src="https://cdn.shopify.com/s/files/1/0587/6396/8710/files/facebook-default.webp?v=1747153540" alt="Facebook" class="social-icon">
            <img src="https://cdn.shopify.com/s/files/1/0587/6396/8710/files/facebook-hover.webp?v=1747153540" alt="Facebook" class="social-icon on-hover">
          </a>
          
          <a class="social-button" target="_blank" rel="noopener" href="https://www.pinterest.com/getkolorful/" title="Kolorful on Pinterest">
            <img src="https://cdn.shopify.com/s/files/1/0587/6396/8710/files/pinterest-default.webp?v=1747153540" alt="Pinterest" class="social-icon">
            <img src="https://cdn.shopify.com/s/files/1/0587/6396/8710/files/pinterest-hover.webp?v=1747153540" alt="Pinterest" class="social-icon on-hover">
          </a>
          
          <a class="social-button" target="_blank" rel="noopener" href="https://www.tiktok.com/@getkolorful" title="Kolorful on TikTok">
            <img src="https://cdn.shopify.com/s/files/1/0587/6396/8710/files/tiktok-default.webp?v=1747153540" alt="Tiktok" class="social-icon">
            <img src="https://cdn.shopify.com/s/files/1/0587/6396/8710/files/tiktok-hover.webp?v=1747153540" alt="Tiktok" class="social-icon on-hover">
          </a>
        </div>
        {% comment %}{% render 'social-icons', additional_classes: 'footer__social' %}{% endcomment %}

      </div>
    </div>
  </div>
</div>
