<div class="site-nav">
  <div class="site-nav__icons">
    {%- if shop.customer_accounts_enabled -%}
      <a class="site-nav__link site-nav__link--icon" href="{{ routes.account_url }}">
        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M20.1212 17.8969C19.679 16.8496 19.0374 15.8984 18.2321 15.0961C17.4292 14.2915 16.4781 13.65 15.4313 13.207C15.4219 13.2023 15.4126 13.2 15.4032 13.1953C16.8633 12.1406 17.8126 10.4227 17.8126 8.48438C17.8126 5.27344 15.211 2.67188 12.0001 2.67188C8.78912 2.67188 6.18756 5.27344 6.18756 8.48438C6.18756 10.4227 7.13678 12.1406 8.59693 13.1977C8.58756 13.2023 8.57818 13.2047 8.56881 13.2094C7.51881 13.6523 6.57662 14.2875 5.76803 15.0984C4.96344 15.9013 4.32194 16.8524 3.87896 17.8992C3.44378 18.924 3.20908 20.0228 3.18756 21.1359C3.18693 21.161 3.19132 21.1858 3.20046 21.2091C3.20961 21.2324 3.22332 21.2537 3.24079 21.2716C3.25826 21.2895 3.27915 21.3037 3.30221 21.3134C3.32527 21.3231 3.35004 21.3281 3.37506 21.3281H4.78131C4.88443 21.3281 4.96646 21.2461 4.96881 21.1453C5.01568 19.3359 5.74225 17.6414 7.02662 16.357C8.35553 15.0281 10.1204 14.2969 12.0001 14.2969C13.8797 14.2969 15.6446 15.0281 16.9735 16.357C18.2579 17.6414 18.9844 19.3359 19.0313 21.1453C19.0337 21.2484 19.1157 21.3281 19.2188 21.3281H20.6251C20.6501 21.3281 20.6749 21.3231 20.6979 21.3134C20.721 21.3037 20.7419 21.2895 20.7593 21.2716C20.7768 21.2537 20.7905 21.2324 20.7997 21.2091C20.8088 21.1858 20.8132 21.161 20.8126 21.1359C20.7891 20.0156 20.5571 18.9258 20.1212 17.8969ZM12.0001 12.5156C10.9243 12.5156 9.91178 12.0961 9.15006 11.3344C8.38834 10.5727 7.96881 9.56016 7.96881 8.48438C7.96881 7.40859 8.38834 6.39609 9.15006 5.63437C9.91178 4.87266 10.9243 4.45312 12.0001 4.45312C13.0758 4.45312 14.0883 4.87266 14.8501 5.63437C15.6118 6.39609 16.0313 7.40859 16.0313 8.48438C16.0313 9.56016 15.6118 10.5727 14.8501 11.3344C14.0883 12.0961 13.0758 12.5156 12.0001 12.5156Z" fill="#AD8C7D"/></svg>
        <span class="icon__fallback-text">
          {%- if customer -%}
            {{ 'layout.customer.account' | t }}
          {%- else -%}
            {{ 'layout.customer.log_in' | t }}
          {%- endif -%}
        </span>
      </a>
    {%- endif -%}

    {%- if settings.search_enable -%}
      <a href="{{ routes.search_url }}" class="small--hide site-nav__link site-nav__link--icon js-search-header{% if section.settings.main_menu_alignment == 'center' or section.settings.main_menu_alignment == 'center-split' %} medium-up--hide{% endif %}">
        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.1103 4.79989C7.6248 4.79989 4.79922 7.62547 4.79922 11.111C4.79922 14.5965 7.6248 17.4221 11.1103 17.4221C14.5959 17.4221 17.4214 14.5966 17.4214 11.111C17.4214 7.62547 14.5959 4.79989 11.1103 4.79989ZM3.19922 11.111C3.19922 6.74181 6.74114 3.19989 11.1103 3.19989C15.4795 3.19989 19.0214 6.74181 19.0214 11.111C19.0214 13.0013 18.3584 14.7368 17.2523 16.0976L20.5669 19.4362C20.8782 19.7498 20.8764 20.2563 20.5629 20.5676C20.2493 20.8789 19.7428 20.8771 19.4315 20.5635L16.1233 17.2314C14.7586 18.3505 13.0129 19.0221 11.1103 19.0221C6.74114 19.0221 3.19922 15.4802 3.19922 11.111Z" fill="#AD8C7D"/></svg>
        <span class="icon__fallback-text">{{ 'general.search.title' | t }}</span>
      </a>
    {%- endif -%}

    {%- if section.settings.main_menu_alignment == 'left' or section.settings.main_menu_alignment == 'left-center' or section.settings.main_menu_alignment == 'left-drawer' -%}
      <button
        type="button"
        class="small--hide site-nav__link site-nav__link--icon js-drawer-open-nav{% if section.settings.main_menu_alignment == 'left' or section.settings.main_menu_alignment == 'left-center' %} medium-up--hide{% endif %}"
        aria-controls="NavDrawer">
        <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-hamburger" viewBox="0 0 64 64"><title>icon-hamburger</title><path d="M7 15h51M7 32h43M7 49h51"/></svg>
        <span class="icon__fallback-text">{{ 'general.drawers.navigation' | t }}</span>
      </button>
    {%- endif -%}

    <!-- wishlist -->
    <a href="/pages/wishlist" class="small--hide site-nav__link site-nav__link--icon {% if section.settings.main_menu_alignment == 'center' or section.settings.main_menu_alignment == 'center-split' %} medium-up--hide{% endif %}">
      <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 5.43755C10.6449 3.59113 8.53373 2.75785 6.56004 3.06073C5.33306 3.24902 4.17719 3.87713 3.33405 4.94454C2.49082 6.01206 2 7.46685 2 9.25116C2 12.8848 4.53004 16.0762 6.83195 18.2553C8.00766 19.3682 9.17951 20.2692 10.0558 20.8913C10.4947 21.203 10.8616 21.4462 11.1205 21.6125C11.25 21.6957 11.3527 21.7598 11.424 21.8036C11.4596 21.8256 11.4874 21.8425 11.5069 21.8542L11.5297 21.8679L11.5363 21.8718L11.5383 21.873C11.5386 21.8732 11.5395 21.8737 12 21.0842L11.5395 21.8737C11.8238 22.0419 12.1762 22.0419 12.4605 21.8737L12 21.0842C12.4605 21.8737 12.4602 21.8739 12.4605 21.8737L12.4637 21.8718L12.4703 21.8679L12.4931 21.8542C12.5126 21.8425 12.5404 21.8256 12.576 21.8036C12.6473 21.7598 12.75 21.6957 12.8795 21.6125C13.1384 21.4462 13.5053 21.203 13.9442 20.8913C14.8205 20.2692 15.9923 19.3682 17.1681 18.2553C19.47 16.0762 22 12.8848 22 9.25116C22 7.46685 21.5092 6.01206 20.666 4.94454C19.8228 3.87713 18.6669 3.24902 17.44 3.06073C15.4663 2.75785 13.3551 3.59113 12 5.43755ZM12 20.005C11.7695 19.8552 11.4629 19.6498 11.1033 19.3945C10.275 18.8065 9.17416 17.9593 8.07715 16.9208C5.83359 14.797 3.81818 12.0718 3.81818 9.25116C3.81818 7.80831 4.2112 6.77549 4.75686 6.0847C5.3026 5.39379 6.04068 4.99287 6.8339 4.87114C8.41951 4.62781 10.2974 5.50295 11.1568 7.65106C11.2954 7.99756 11.6291 8.2245 12 8.2245C12.3709 8.2245 12.7046 7.99756 12.8432 7.65106C13.7026 5.50295 15.5805 4.62781 17.1661 4.87114C17.9593 4.99287 18.6974 5.39379 19.2431 6.0847C19.7888 6.77549 20.1818 7.80831 20.1818 9.25116C20.1818 12.0718 18.1664 14.797 15.9229 16.9208C14.8258 17.9593 13.725 18.8065 12.8967 19.3945C12.5371 19.6498 12.2305 19.8552 12 20.005Z" fill="#AD8C7D"/></svg>
      <span class="icon__fallback-text">Wishlist</span>
    </a>       

    <a href="{{ routes.cart_url }}" class="site-nav__link site-nav__link--icon js-drawer-open-cart" aria-controls="CartDrawer" data-icon="{{ settings.cart_icon }}">
      <span class="cart-link">
        {%- if settings.cart_icon == 'cart' -%}
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-cart" viewBox="0 0 64 64"><path style="stroke-miterlimit:10" d="M14 17.44h46.79l-7.94 25.61H20.96l-9.65-35.1H3"/><circle cx="27" cy="53" r="2"/><circle cx="47" cy="53" r="2"/></svg>
        {%- elsif settings.cart_icon == 'bag-minimal' -%}
          <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M11.9894 2.56008C11.9971 2.55997 12.0047 2.55997 12.0123 2.56008C14.334 2.5932 16.1899 4.50019 16.1609 6.82124V6.88H17.0524C18.4329 6.90008 19.5364 8.03324 19.5209 9.41294V17.1788C19.5499 19.4998 17.694 21.4068 15.3723 21.4399L15.3609 21.4401L8.62938 21.44C6.30764 21.4068 4.4517 19.4998 4.48081 17.1787V9.41294C4.46523 8.03322 5.56876 6.90017 6.94917 6.88008L6.96081 6.87991L7.84081 6.88V6.82127C7.8117 4.50019 9.66765 2.5932 11.9894 2.56008ZM7.84081 8.48V10.272C7.84081 10.7138 8.19898 11.072 8.64081 11.072C9.08263 11.072 9.44081 10.7138 9.44081 10.272V8.48H14.5609V10.272C14.5609 10.7138 14.919 11.072 15.3609 11.072C15.8027 11.072 16.1609 10.7138 16.1609 10.272V8.48H17.0341C17.5312 8.48988 17.9277 8.89933 17.9209 9.39714L17.9209 17.184L17.9209 17.1951C17.9409 18.6338 16.7926 19.8166 15.3547 19.84H8.64698C7.20904 19.8166 6.06073 18.6338 6.08073 17.1951L6.08081 9.408L6.08073 9.3971C6.07395 8.89933 6.47041 8.48988 6.96751 8.48H7.84081ZM14.5609 6.88H9.44081V6.816L9.44073 6.80488C9.42076 5.36831 10.5658 4.18673 12.0009 4.1601C13.4358 4.18673 14.5809 5.3683 14.5609 6.8049L14.5609 6.88Z" fill="#AD8C7D"/></svg>
        {%- else -%}
          <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-bag" viewBox="0 0 64 64"><g fill="none" stroke="#000" stroke-width="2"><path d="M25 26c0-15.79 3.57-20 8-20s8 4.21 8 20"/><path d="M14.74 18h36.51l3.59 36.73h-43.7z"/></g></svg>
        {%- endif -%}
        <span class="icon__fallback-text">{{ 'layout.cart.title' | t }}</span>
        <span class="cart-link__bubble{% if cart.item_count > 0 %} cart-link__bubble--visible{% endif %}"></span>
      </span>
    </a>
  </div>
</div>
