{%- if section.settings.divider -%}<div class="section--divider">{%- endif -%}

{%- liquid
  assign image_width = section.settings.image_width
  assign overlap_images = true
  if section.settings.image == blank or section.settings.image2 == blank
    assign overlap_images = false
  endif

  if section.settings.image == blank and section.settings.image2 == blank
    assign overlap_images = true
    assign placeholder_images = true
  endif
-%}

{% style %}
  {% if section.settings.top_padding == false %}
    #shopify-section-{{ section.id }} .index-section { margin-top: 0 !important; }
  {% endif %}
  {% if section.settings.bottom_padding == false %}
    #shopify-section-{{ section.id }} .index-section { margin-bottom: 0 !important; }
  {% endif %}

  /* Subheading styling */
  #shopify-section-{{ section.id }} .subheading {
    font-family: 'Shantine', serif;
    text-transform: none;
    font-size:25px;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 14px;
  }
   @media (max-width: 768px){
    #shopify-section-{{ section.id }} .feature-row__text .subheading{
      font-size:16px !important;
    }

  /* Tighten heading → subheading spacing */
  #shopify-section-{{ section.id }} .h1 {
    margin-bottom: 6px;
  }
{% endstyle %}

{%- assign anchor_id = section.settings.anchor_id | strip -%}
{%- if anchor_id == 'none' -%}{%- assign anchor_id = '' -%}{%- endif -%}

<div class="index-section" {% if anchor_id != blank %}id="{{ anchor_id | handleize }}"{% endif %}>

  <div class="page-width feature-row-wrapper feature-row--{{ image_width }}">
    {%- capture image_layout -%}
      <div class="feature-row__item feature-row__images{% if overlap_images %} feature-row__item--overlap-images{% endif %}{% if placeholder_images %} feature-row__item--placeholder-images{% endif %}" data-aos>
        {%- if section.settings.image != blank -%}
          <div class="feature-row__first-image">
            <div class="image-wrap {% if section.settings.image_mask != 'none' %}svg-mask svg-mask--{{ section.settings.image_mask }}{% endif %}" style="height:0;padding-bottom:{{ 100 | divided_by: section.settings.image.aspect_ratio }}%;">
              {%- render 'image-element',
                img: section.settings.image,
                widths: '180,360,540,750,900,1080',
                classes: 'feature-row__image'
              -%}
            </div>
          </div>
        {%- endif -%}

        {%- if section.settings.image2 != blank -%}
          <div class="feature-row__second-image">
            <div class="image-wrap {% if section.settings.image2_mask != 'none' %}svg-mask svg-mask--{{ section.settings.image2_mask }}{% endif %}" style="height:0;padding-bottom:{{ 100 | divided_by: section.settings.image2.aspect_ratio }}%;">
              {%- render 'image-element',
                img: section.settings.image2,
                widths: '180,360,540,750,900,1080',
                classes: 'feature-row__image'
              -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    {%- endcapture -%}

    <div class="feature-row">
      {%- if section.settings.layout == 'left' -%}
        {{ image_layout }}
      {%- endif -%}

      <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} text-{{ section.settings.align_text }}" data-aos>

        {%- if section.settings.title != blank -%}
          <h2 class="h1 appear-delay{% cycle '','-1','-2','-3','-4' %}">
            {{ section.settings.title | escape }}
          </h2>
        {%- endif -%}

        {%- if section.settings.subtitle != blank -%}
          <div class="subheading appear-delay{% cycle '','-1','-2','-3','-4' %}">
            {{ section.settings.subtitle }}
          </div>
        {%- endif -%}

        {%- if section.settings.text != blank -%}
          <div class="rte appear-delay{% cycle '','-1','-2','-3','-4' %}">
            {{ section.settings.text }}
          </div>
        {%- endif -%}

        {%- if section.settings.button_label != blank -%}
          <div class="appear-delay{% cycle '','-1','-2','-3','-4' %}">
            <a href="{{ section.settings.button_link }}" class="btn{% if section.settings.button_style == 'secondary' %} btn--tertiary{% endif %}">
              {{ section.settings.button_label }}
            </a>
          </div>
        {%- endif -%}

      </div>

      {%- if section.settings.layout == 'right' -%}
        {{ image_layout }}
      {%- endif -%}
    </div>
  </div>
</div>


{%- if section.settings.divider -%}</div>{%- endif -%}

{% schema %}
{
  "name": "t:sections.text-and-image.name",
  "settings": [
    { "type": "image_picker", "id": "image", "label": "Image" },
    { "type": "text", "id": "subtitle", "label": "Subheading" },
    { "type": "text", "id": "title", "label": "Heading", "default": "Image with text" },
    { "type": "richtext", "id": "text", "label": "Text" },
    { "type": "text", "id": "button_label", "label": "Button label" },
    { "type": "url", "id": "button_link", "label": "Button link" },
      {
  "type": "select",
  "id": "image_mask",
  "label": "t:common.image_mask.label",
  "default": "none",
  "options": [
    { "value": "none", "label": "t:common.image_mask.options.none.label" },
    { "value": "portrait", "label": "t:common.image_mask.options.portrait.label" },
    { "value": "landscape", "label": "t:common.image_mask.options.landscape.label" },
    { "value": "square", "label": "t:common.image_mask.options.square.label" },
    { "value": "rounded", "label": "t:common.image_mask.options.rounded.label" },
    { "value": "rounded-wave", "label": "t:common.image_mask.options.rounded-wave.label" },
    { "value": "rounded-top", "label": "t:common.image_mask.options.rounded-top.label" },
    { "value": "star", "label": "t:common.image_mask.options.star.label" },
    { "value": "splat-1", "label": "t:common.image_mask.options.splat-1.label" },
    { "value": "splat-2", "label": "t:common.image_mask.options.splat-2.label" },
    { "value": "splat-3", "label": "t:common.image_mask.options.splat-3.label" },
    { "value": "splat-4", "label": "t:common.image_mask.options.splat-4.label" }
  ]
},
{
  "type": "text",
  "id": "anchor_id",
  "label": "Anchor ID",
  "default": "none"
},

{
  "type": "header",
  "content": "t:sections.text-and-image.settings.image2.label"
},
{
  "type": "image_picker",
  "id": "image2",
  "label": "t:sections.text-and-image.settings.image2.label"
},
{
  "type": "select",
  "id": "image2_mask",
  "label": "t:common.image_mask.label",
  "default": "none",
  "options": [
    { "value": "none", "label": "t:common.image_mask.options.none.label" },
    { "value": "portrait", "label": "t:common.image_mask.options.portrait.label" },
    { "value": "landscape", "label": "t:common.image_mask.options.landscape.label" },
    { "value": "square", "label": "t:common.image_mask.options.square.label" },
    { "value": "rounded", "label": "t:common.image_mask.options.rounded.label" },
    { "value": "rounded-wave", "label": "t:common.image_mask.options.rounded-wave.label" },
    { "value": "rounded-top", "label": "t:common.image_mask.options.rounded-top.label" },
    { "value": "star", "label": "t:common.image_mask.options.star.label" },
    { "value": "splat-1", "label": "t:common.image_mask.options.splat-1.label" },
    { "value": "splat-2", "label": "t:common.image_mask.options.splat-2.label" },
    { "value": "splat-3", "label": "t:common.image_mask.options.splat-3.label" },
    { "value": "splat-4", "label": "t:common.image_mask.options.splat-4.label" }
  ]
},
{

      "type": "select",
      "id": "button_style",
      "label": "Button style",
      "default": "primary",
      "options": [
        { "value": "primary", "label": "Primary" },
        { "value": "secondary", "label": "Secondary" }
      ]
    },
    {
      "type": "select",
      "id": "align_text",
      "label": "Text alignment",
      "default": "left",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ]
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Layout",
      "default": "right",
      "options": [
        { "value": "left", "label": "Image left" },
        { "value": "right", "label": "Image right" }
      ]
    },
    { "type": "checkbox", "id": "divider", "label": "Show divider", "default": false },
    { "type": "checkbox", "id": "top_padding", "label": "Top padding", "default": true },
    { "type": "checkbox", "id": "bottom_padding", "label": "Bottom padding", "default": true }
  ],
  "presets": [
    { "name": "Image with text" }
  ]
}
{% endschema %}
